.auth {
   margin-top: 200px;
   background: #101010;
   padding: 124px 0px 98px 0px;
}
.auth .auth-container {
   max-width: 1400px;
}
.auth-container {
   margin-left: 217px;
}
.auth-container > h2 {
   color: #fff;
   font-family: "Montserrat Alternates";
   font-size: 32px;
   font-style: normal;
   font-weight: 700;
   line-height: 28px;
}
.auth-container > div:first-of-type {
   margin-top: 20px;
   display: flex;
   gap: 5px;
}
.auth-container > div:first-of-type > p {
   color: #fff;
   font-family: "Lato", sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 26px; /* 162.5% */
}
.auth-container > div:first-of-type > a {
   color: #ffda12;
   font-family: "Lato", sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 26px;
}
.auth-container > input:first-of-type {
   margin-top: 29px;
   width: 369.736px;
   height: 60px;
   flex-shrink: 0;
   border-radius: 100px;
   border: 2px solid rgba(255, 255, 255, 0.2);
   color: #fff;
   font-family: "Montserrat Alternates";
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 26px;
   padding-left: 16px;
   background: transparent;
}
.auth-container > input:last-of-type {
   margin-top: 29px;
   width: 369.736px;
   height: 60px;
   flex-shrink: 0;
   border-radius: 100px;
   border: 2px solid rgba(255, 255, 255, 0.2);
   color: #fff;
   font-family: "Montserrat Alternates";
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 26px;
   padding-left: 16px;
   background: transparent;
}
.auth-container > div:last-of-type {
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 370px;
}
.auth-container > div:last-of-type > div {
   display: flex;
   gap: 14px;
   align-items: center;
}
.auth-container > div:last-of-type > div > input {
   width: 24px;
   height: 24px;
}
.auth-container > div:last-of-type > div > label {
   color: #fff;
   font-family: "DM Sans", sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 26px; /* 162.5% */
}
.auth-container > div:last-of-type > a {
   color: #ccc;
   text-align: right;
   font-family: "DM Sans", sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 26px; /* 162.5% */
}
.auth-container > a {
   margin-top: 40px;
   display: inline-flex;
   padding: 12px 32px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   border-radius: 30px;
   background: #ffda12;
   color: #000;
   text-align: center;

   /* Buttons / Middle */
   font-family: "DM Sans", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 26px; /* 144.444% */
}
